:root {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 1.5;
  color: #1f2739;
  background: #f4f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: #2b6ef5;
  text-decoration: none;
}
